doctype html
html
  head
    title= title

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    block navbar
      navbar.navbar-default
        div.container-fluid
          div.navbar-header
            button.navbar-toggle(data-toggle = "collapse", data-target = "#navbar")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href = 'welcome') Apollo Music
              //img(src = "/images/apolloLogo.png", alt = "Apollo Logo" class = "fillWidth")
          div.collapse(class = "navbar-collapse", id = "#navbar")
            ul.nav(class = "nav-bar")
                if !errUser
                  p.navbar-text Welcome, #{fName} #{lName}
                else
                  p.navbar-text Welcome, #{errUser}
                button(class = "btn btn-default navbar-btn" type="button" onclick = "location.href = '/settings'")
                  span.glyphicon(class="glyphicon-cog")
                if !errSuggTrack
                  p.navbar-text(class = "navbar-right") Suggested Track: #{trackID} | #{trackName} | #{artistName} | #{musicGroup}
                else
                  p.navbar-text(class = "navbar-right") Suggested Track: #{errSuggTrack}
    block content
